
.text-pop-up-top {
    transition: 2s;
    background-color: rgba(128, 128, 128, 0.596);
    padding: 5px;
    border-radius: 50px 20px; }

    .text-pop-up-top-nuevo{
@extend .text-pop-up-top;
        border-color: aqua;

    }

    /*MIXIN*/

@mixin tamaño($ancho, $alto){
    width: $ancho;
    height: $alto;
}
.navbar{
    @include tamaño (50px,20px)
}

