
/*TABLETS*/

@media (min-width: 480px) and (max-width:1024px){

    h1{
        font-size: 40px;
        color: rgb(62, 78, 112);
    }
}

/*Smartphone*/
@media (max-width: 478px){
.text-pop-up-top{
    display: none;
}
    
h1{
     color: black;
}


.lead{  
    padding: 10px 20px;
    font-family: "rufina";
    font-size: 20px;
    color:aliceblue;
    background-color: rgba(0, 0, 0, 0.596);
}
main{
    background-image: url("Portada2.jpg");
}
.navbar{
    display: flex;
    z-index: 1;
}

.px-3{
    display: none;
}
a{
    font-size: 20px;
    font-family: "rufina";
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: antiquewhite;
    margin-bottom: 5px;

}

a:hover{
    color:white;
    transition: 2s;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 50px 20px;
          }
#exampleFormControlTextarea1{
    margin-top: 40px;
   
}
.mb-3{
    margin-top: 105px;

}
p{
    background-color: rgba(250, 235, 215, 0.705);
    padding: 20px;
    border-radius: 20px;
}


}



