


/*CONTACTO*/
div input:hover{
    background-color: greenyellow;
    transform: scale(1,1);
    transition: 1s;
    border-style: outset;
    }
    
    textarea:hover{
    background-color: greenyellow;
    transform: scale(1,1);
    transition: 1s;
    border-style: outset;
    
    }
  
@import "variables";
@import "header";
@import "mediaQueries";


