/*Estilos generales*/
@font-face {
  font-family: "averox";
  src: url(averox.ttf);
  
}
@font-face{
font-family: "rule";
src: url(Raleway-VariableFont_wght.ttf)
}


main{
  background-image: url(imagenes/fondo3.jpg);
  opacity: 1;
  background-repeat:no-repeat;
  background-position-x: center;
  background-size: cover;
  
}
p{
  background-color: rgba(245, 245, 245, 0.705);
  color: rgb(9, 10, 10);
 border-radius: 50px 20px ;
 padding: 20px 20px;
}
h1{
  
  font-family: "averox";
 text-shadow: 2px 2px 4px #fafafa;
  margin-bottom: 20px;
}
h2{
  margin-bottom: 50px;
  text-shadow: 2px 2px 4px #fafafa;
}
p{
  line-height: 40px;
}

/*INICIO*/
.navbar {
  display: none; }

.menuMovil {
  display: none; }

  img.btn:hover{
    transform: scale(1.5, 1.5);
    transition: 3s;
    }

.text-pop-up-top:hover {
  transition: 2s;
  background-color: rgba(128, 128, 128, 0.699) ;
  padding: 5px;
  border-radius: 50px 20px; }

.text-pop-up-top {
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes text-pop-up-top {
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none; }
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 5px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3); } }

@keyframes text-pop-up-top {
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none; }
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 5px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3); } }


/*TABLETS*/
@media (min-width: 480px) and (max-width: 1024px) {
  h1 {
    font-size: 40px;
    color: rgba(51, 44, 44, 0.692); } 
   
    img.btn{
      display: none;
    }
  
  }

    

/*Smartphone*/
@media (max-width: 478px) {
  .text-pop-up-top {
    display: none; }
  h1 {
    color: black; }
  .lead {
    padding: 10px 20px;
    font-family: "rule";
    font-size: 20px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.596); }
  main {
    background-image: url("imagenes/Portada.jpg"); }
  .navbar {
    display: flex;
    z-index: 1; }
  .px-3 {
    display: none; }
  a {
    font-size: 17px;
    font-family: "";
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: 5px; }
  a:hover {
    color: white;
    transition: 2s;
    background-color: rgba(128, 128, 128, 0.623);
    padding: 10px;
    border-radius: 50px 20px; }
  #exampleFormControlTextarea1 {
    margin-top: 40px; }
  .mb-3 {
    margin-top: 105px; }
  p {
    background-color: rgba(250, 235, 215, 0.705);
    padding: 20px;
    border-radius: 20px; } 
  
    




/*CONTACTO*/
div input:hover{
  background-color: rgba(128, 128, 128, 0.582);
  transform: scale(1,1);
  transition: 1s;
  border-style: outset;
  }
  
label.form-label{
  color: #fafafa;
  text-shadow: 2px 2px 4px rgb(206, 213, 221);
}
  #cons{
    margin-top: 48px;
  }
  textarea:hover{
   background-color: rgba(128, 128, 128, 0.596);
  transform: scale(1,1);
  transition: 1s;
  border-style: outset;
  
  }

/*TABLETS*/
@media (min-width: 480px) and (max-width: 1024px) {
  h1 {
    font-size: 40px;
    color: rgb(51, 48, 48); } 


  }   

/*Smartphone*/
@media (max-width: 478px) {
  .navbar {
    display: flex;
    z-index: 1; } 
}
}