/*Estilos generales*/
@font-face {
  font-family: "averox";
  src: url(averox.ttf);
  
}
@font-face{
font-family: "rule";
src: url(Raleway-VariableFont_wght.ttf)
}


main{
  background-image: url(imagenes/fondo3.jpg);
  background-repeat:no-repeat;
  background-position-x: center;
  background-size: cover;
}
.px-4{
  margin-left: 30px;

}

p{
  background-color: rgba(245, 245, 245, 0.705);
  color: rgb(9, 10, 10);
 border-radius: 50px 20px ;
 padding: 20px 20px;
}
h1{
  
  font-family: "averox";
 text-shadow: 2px 2px 4px #fafafa;
  margin-bottom: 20px;
}
h2{
  margin-bottom: 50px;
  text-shadow: 2px 2px 4px #fafafa;
}
p{
  line-height: 40px;
}

.text-muted {
  font-size: 15px;
  font-family: "rule";
  font-size: 15px;
  color: rgb(141, 138, 138); 
}
#follow{
  font-size: 15px;
  font-family: "rule";
  font-size: 15px;
  color: rgb(141, 138, 138);
  margin-right: 80px;
  margin-bottom: 20px;
}
#logoYouTube{
  width: 25px;
  height: 25px;

}

#logoInsta{
width: 40px;
height: 20px;
margin-left: -7px;
}
#logoTwitter{
  width: 20px;
  height: 20px;
 
}
.p-3{
  margin-left:-90px;
}
.copy{
 
  font-size: 16px;
}
img#logoFbk{
  width: 30px;
  height: 30px;
  margin-top: -6px;  
}


h4{
  font-family: "rule";
  font-size: 10px;
  color: rgb(134, 134, 134);
  margin-top: 50px;
}
h5{
  font-family: "rule";
  font-size: 13px;
  color: rgb(134, 134, 134);
}
.nav-item{
  color: grey;

}
#mainDep{
  background-image: none;
}

/*INICIO*/
.navbar {
  display: none; }

.menuMovil {
  display: none; }

  img.btn:hover{
    transform: scale(1.5, 1.5);
    transition: 3s;
    }

.text-pop-up-top:hover {
  transition: 2s;
  background-color: rgba(128, 128, 128, 0.699) ;
  padding: 5px;
  border-radius: 50px 20px; }

.text-pop-up-top {
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes text-pop-up-top {
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none; }
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 5px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3); } }

@keyframes text-pop-up-top {
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none; }
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 5px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3); } }
/*CONTACTO*/


input:hover{
  background-color: rgba(128, 128, 128, 0.582);
  transform: scale(1,1);
  transition: 1s;
  border-style: outset;
  }
  
label.form-label{
  color: #fafafa;
  text-shadow: 2px 2px 4px rgb(206, 213, 221);
}

#cons{
    margin-top: 180px;
  
  }
 textarea:hover{
   background-color: rgba(128, 128, 128, 0.596);
  transform: scale(1,1);
  transition: 1s;
  border-style: outset;
  }

/*DEPARTAMENTOS*/

.row{
  margin-left: 80px;
  margin-top: 50px;
}
#imagen{
  background-image: url("imagenes/2amb.jpg");
  background-size: cover;

}
#segunda{
  background-image: url("imagenes/3ambLoft.jpg");
  background-size: cover;


}

#tercera{
  background-image: url("imagenes/Hab.jpg");
  background-size: cover;
}
iframe{
 width: 1400px;
 height: 900px;
 
}





  /*TABLETS*/
@media (min-width: 480px) and (max-width: 1024px) {
  h1 {
    font-size: 40px;
    color: rgba(51, 44, 44, 0.692); } 
   
    img.btn{
      display: none;
    }
    body{
      margin-left: 80px;
    }
    .px-3{
      margin-left: -80px;
    }
    #flex-footer{
      
      margin-left: -10px;    
    }
#mainDep{
  margin-left: -80px;
  background-image: none;
}
iframe{ 
  margin-left: -80px;
}
#mainCont{
  margin-left: -90px;

}

  }

/*Smartphone*/
@media (max-width: 478px) {
  .text-pop-up-top {
    display: none; }
  h1 {
    color: black; }
  .lead {
    padding: 10px 20px;
    font-family: "rule";
    font-size: 20px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.596); }
  main {
    background-image: url("imagenes/Portada.jpg"); 
  }
  body{
    margin-left: 80px;
  }
  .container-fluid{
    margin-left: 30px;
  }

  .navbar {
    display: flex;
    z-index: 1;
  margin-left: -80px }
  .px-3 {
    display: none; }
  a {
    font-size: 17px;
    font-family: "";
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: 5px; }
  a:hover {
    color: white;
    transition: 2s;
    background-color: rgba(128, 128, 128, 0.623);
    padding: 10px;
    border-radius: 50px 20px; }
  #exampleFormControlTextarea1 {
    margin-top: px;
    width: 260px; }
  .mb{
    margin-top: -190px; }
  p {
    background-color: rgba(250, 235, 215, 0.705);
    padding: 20px;
    border-radius: 20px; } 
  #flex-footer{
      display: flex;
      flex-direction: row;
      margin-left: -10px;    
    }
    div.container{
      margin-left: -50px;
    }
    #mainDep{
      margin-left: -80px;
      background-image: none;
    }
    iframe{ 
      margin-left: -80px;
    }
    #mainQuien{
      margin-top: 0.05px;
    }
    #mainTrab{
      margin-top: 0.05px;
    }
  }
   
    



/*TABLETS*/
@media (min-width: 480px) and (max-width: 1024px) {
  h1 {
    font-size: 40px;
    color: rgb(51, 48, 48); } 


  }   

/*Smartphone*/
@media (max-width: 478px) {
  .navbar {
    display: flex;
    z-index: 1; } 
    #exampleFormControlInput1 {
      background-color: white;
    }
}
}

